/**
*
* app/style/base.styl
* The base of your style
* It can also is your reset
*
**/

html, body
  color fontColor
  background #000
  font-family 'Circular'

.header
  position: absolute;

p
  display: none

canvas
  position: absolute;
