/**
*
* app/style/base.styl
* The base of your style
* It can also is your reset
*
**/

html, body
  color fontColor
  background #000
  font-family 'Circular'
  overflow: hidden;

.header
  position: absolute;

p
  display: none


.resize-drag {
  /* This makes things *much* easier */
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #6C6767; // TEMPS


  // WORK VALUE
  // transform: translate(261px, -49.5px);
  // width: 1530.67px;
  // height: 1148px;

  // JEREM VALUE
  // width: 1390.67px;
  // height: 1043px;
  // transform: translate(309px, 4px);

  // CHLOE VALUE
  width: 1038.97px;
  height: 779.219px;
  transform: translate(232px, 0px);
}

// .resize-container {
//   width: 100%;
//   height: 480px;
// }
