/**
*
* app/style/base.styl
* The base of your style
* It can also is your reset
*
**/

html, body
  color fontColor
  background #000
  font-family 'Circular'

.header
  position: absolute;

p
  display: none


.resize-drag {
  /* This makes things *much* easier */
  position: absolute;
  box-sizing: border-box;
  border: 1px solid red;
}

.resize-container {
  width: 100%;
  height: 480px;
}
