/**
*
* app/style/fonts.styl
* Fonts using
*
**/

@font-face {
  font-family:'Circular';
  src: url(fontPath + 'circular/circularstd-book-webfont.eot');
  src: url(fontPath + 'circular/circularstd-book-webfont.eot?#iefix') format('embedded-opentype'),
    url(fontPath + 'circular/circularstd-book-webfont.woff') format('woff'),
    url(fontPath + 'circular/circularstd-book-webfont.ttf') format('truetype');
    // url(fontPath + 'circular/circularstd-book-webfont.svg#Avenir-Roman') format('svg');
  font-weight: thin;
}

@font-face {
  font-family:'Circular';
  src: url(fontPath + 'circular/circularstd-bold-webfont.eot');
  src: url(fontPath + 'circular/circularstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url(fontPath + 'circular/circularstd-bold-webfont.woff') format('woff'),
    url(fontPath + 'circular/circularstd-bold-webfont.ttf') format('truetype');
    // url(fontPath + 'circular/circularstd-bold-webfont.svg#Avenir-Roman') format('svg');
  font-weight: bold;
}
@font-face {
  font-family:'Circular';
  src: url(fontPath + 'circular/circularstd-medium-webfont.eot');
  src: url(fontPath + 'circular/circularstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url(fontPath + 'circular/circularstd-medium-webfont.woff') format('woff'),
    url(fontPath + 'circular/circularstd-medium-webfont.ttf') format('truetype');
    // url(fontPath + 'circular/circularstd-medium-webfont.svg#Avenir-Roman') format('svg');
  font-weight: normal;
}
